{% extends 'base.html.twig' %}

{% block title %}Liste stock{% endblock %}

{% block body %}
    {% for error in field_errors(form) %}
        <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
    {% endfor %}

        <div class="col d-flex flex-column justify-content-evenly my-3 py-4 align-items-center">
            <h1 class="fw-bold border-bottom border-dark border-2 ">Liste de catégories</h1>
        </div>

        {% if (is_granted("ROLE_MANAGER")) %}
            <button type="button" class="btn btn-success btn-sm p-2 m-1" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                Ajouter Catégorie
            </button>
        {% endif %}
        <table class="table table-hover text-center">
            <thead class="table-dark">
            <tr>

                <th>Catégorie</th>
            </tr>
            </thead>
            <tbody style="background: #fdfbfb">
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('category_show', {'id': category.id}) }}"> {{ category.name }} </a> </td>
                    <td>{{ category.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune  Catégorie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% if (is_granted("ROLE_MANAGER")) %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title " id="offcanvasLabel">Ajout de Catégorie</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {{ include('category/_form.html.twig') }}
    </div>
    {% endif %}
</div>

{% endblock %}
